# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env

# VSCode settings
.vscode/

# PyInstaller
*.spec
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyproject.lock and other package managers
poetry.lock
Pipfile.lock
*.lock

# OS / Editor specific
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log

# Backup files
*.bak
*.swp
*~
